
params {
   bbmap_tag = "38.90--he522d1c_1"
}



aws {
  accessKey = '********************************'
  secretKey = '********************************'

    client {
      s_3_path_style_access = true
      connectionTimeout = 10000
      protocol = 'HTTPS'
      endpoint = 'https://openstack.cebitec.uni-bielefeld.de:8080'
    }
}


profiles {
    
    ignite { 
         docker {
           fixOwnership = true
           enabled = true
         }
         process {
           executor = 'ignite'
           containerOptions = ' --user 1000:1000 '
//           scratch = "/vol/scratch"

           withLabel: large {
              cpus = 28 
           }
           withLabel: medium {
              cpus = 14
           }
           withLabel: small {
              cpus = 7
           }
           withLabel: tiny {
              cpus = 1
          }
        }
    }
}


